<div>
  <h1> Edit Trip Info: <%= @trip.name %> </h1>
  <%= link_to 'Delete', trip_path(@trip),
      method: :delete, data: {confirm: 'You will lose everything in this trip, are you sure you want to delete?'} %>

  <%= render(partial:'form') %>

  <%=link_to 'BACK', trips_path %>

</div>
