<div class="row">

    <% if @trips.any? %>
    <div class="col s12">
      <i class="tiny material-icons">add_box</i><%= link_to 'Add A Trip', new_trip_path %>
    </div>

    <div class="col s12 m4">
      <% @trips.each do |trip| %>
      <div class="pull-left">
        <h4><%= link_to trip.name, trip_locations_path(trip) %></h4>
          <%= image_tag(trip.image.url(:small))%>
      </div>
    </div>
      <% end %>

    <% else %>
      <div class="col s12 search-trip center-align">
          <h4>You haven't tripped yet! Get at it.</h4>
          <p>Start <a class="white-text" href="http://www.google.com" target="_blank">Googling</a> where to go or</p>

      <div class="waves-effect waves-light btn enter-btn"><%= link_to 'ADD TRIP', new_trip_path %></div>
      </div>
    <% end %>

  </div>
