<div class="row">
  <div class="col s12">
    <h4 class="right-align"> Add A Trip </h4>
  </div>

  <%= render(partial:'form') %>
  <p class="lead col s12"><%=link_to 'BACK', trips_path %></p>
</div>
