// Place all the styles related to the pack_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#packed {
	padding-top: 20px;
	float: right;
	width:400px;
}
#unpacked {
	padding-top: 20px;
	float: left;
	width: 400px;
}
#recommended {
	padding-top: 20px;
	float: left;
	width: 400px;
}