// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.static-bg-img {
  background: url('landing.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.enter-btn {
  color: white;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  margin-top: 15px;
  text-align: center;
}
.enter-btn a {
  color: white;
  text-decoration: none;
}
.logo {
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
}
.logo-landing {
  font-size: 50px;
  line-height: 75px;
}
.tagline{
  letter-spacing: .5px;
  text-align: right;
  padding-right: 400px;
}
