<!DOCTYPE html>
<html>
  <head>
    <title>Triptracker</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,900|Pacifico|Poiret+One" rel="stylesheet">
  </head>

  <body class="static-bg-img">
    <div class="container row">
      <div class="col s12 m3 pull-left"><h1>TRIPPIN</h1></div>
      <div class="col s12 m7 pull-left"><p>trip tracking</p></div>
    </div>
    <div class="clear">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
